@import "../../../styles/variables.module.scss";

.headerWrapper {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.navItems {
    font-size: 18px;
    display: flex;

    p {
        margin-left: 24px;
        cursor: pointer;
    }
}

.activeItem {
    border-bottom: 2px solid;
}

.createCourseHeaderText {
    padding: 28px 0 24px 0;
}

.courseInfoText {
    font-size: 18px;
    border-bottom: 2px solid;
    display: inline-block;
    padding: 5px;
}

.bodyWrapper {
    background: #E5EAFC;
}

.bodysubWrapper {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 24px 0;
}

.imageUploader {
    width: 350px;
    height: 300px;
}

.uploadimagetext {
    font-size: 18px;
    color: #808080;
    margin-top: 8px;
}

.uploadImageHeader {
    font-size: 22px;
    color: #000000;
    margin-bottom: 14px;
    margin-top: 22px;
}

.detailDataWrapper {
    width: 247px;
    height: 47px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-right: 16px;
    margin-left: 12px;
    background-color: #EFEFEF;
    cursor: not-allowed;

    p {
        font-size: 20px;
    }
}

.IconWrapper {
    margin-left: 12px;
    width: 68px;
    height: 47px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 22px auto;
    overflow: hidden;
    background-color: #EFEFEF;
    cursor: not-allowed;
}

.dropDownArrowWrapper {
    display: grid;
    place-items: center;
    background: #EFEFEF;
    border-left: 0.5px solid rgba(0, 0, 0, 0.5);
}

.chechBoxHeadText {
    font-size: 24px;
    color: #000000;
    padding-right: 8px;
}

.checkBox {
    height: 26px;
    width: 26px;
}

.saveCourseBtnBox {
    width: 138px;
    height: 38px;

    button {
        font-size: 20px;
        padding: 8px 12px;
    }
}

.borderline {
    border-top: 0.5px solid rgba(0, 0, 0, 0.3);
}

.secDetails {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.addDetails {
    cursor: pointer;
    font-size: 20px;
    color: #0075FF;
}

.courseDetails {
    display: flex;
    justify-content: space-between;
}

.deleteIconWrapper {
    width: 49px;
    height: 47px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: grid;
    place-items: center;
}

.checkBoxHead {
    display: flex;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: fit-content;
    margin-bottom: 15px;
    align-items: center;
}

.publishedCourseDetails {
    display: flex;
    align-items: center;
}