.buttonModalDiv {
    height: 46px;
    width: 100%;
    margin: 0;
    margin-top: 1rem;
}

.closeIconWrapper {
    position: absolute;
    left: 15px;
    top: 15px;
}

.cancelBtn {
    font-size: 18px;
}

.reminderPopupModal {
    width: 350px;
}

@media (max-width :450px) {
    .reminderPopupModal {
        width: 100%;
    }
}