.changePasswordContainer {
	width: 20rem;
}

.passwordInputBox {
	margin: 1.25rem 0 0 0;

	& input {
		font-size: 14px;
		line-height: 17px;
		padding-right: 2.5rem;
		font-family: "Tajawal-Medium";
	}
}


.changePasswordTitleDiv {
	margin-bottom: 15px;

	& h3 {
		font-size: 18px;
		line-height: 22px;
		margin-right: 5px;
	}
}

.formInputText {
	// width: 22.25rem;
    // height: 2.75rem;
	// padding-top: 1.4rem;
	// padding-right: 2.2rem;
	width: 22.25rem;
	padding-right: 2.9rem;
	border: 1px solid #0000001a;
}

.formInputLabel {
	padding-right: 1.5rem;
	font-size: 16px;
	color: #00000080;
	top: 0.9rem
}

.formInputError {
	width: 22.25rem;
    height: 2.75rem;
	// padding-top: 1.4rem;
	padding-right: 2.9rem;
	border: 1px solid red;
}

.formInputPlaceHolderError {
	padding-right: 2rem;
	font-size: 16px;
	color: red;
	top: 0.9rem
}

.errorMsgWraper {
	align-items: center;
	display: flex;
	padding: 5px;

	p {
		font-size: 14px;
		margin: 0 5px -4px;
	}
}

.passwordIconDiv {
	position: absolute;
	top: 0.7rem;
	right: 17.5rem;
	cursor: pointer;
}


.errorText {
	color: rgb(211, 47, 47);
	font-size: 0.75rem;
	line-height: 1.66;
	letter-spacing: 0.03333em;
	margin-top: 0.5rem;
}


.IconDiv {
	position: absolute;
	top: 0.7rem;
	right: 0.5rem;
}

.notes{
color: var(--Black_Used, #191919);
text-align: right;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
display: flex;
justify-content:right;
align-items: center;
margin-top: 0.37rem;
}

.notes span{
	margin-right: 0.25rem;
}

.changePasswordBtnBox {
	margin-top: 1rem;
}

.passwordHintText {
	margin: 0.5rem 0;
	font-size: 12px;
	color: var(--grary-not-selected, #808080); 
}


.passwordVisibilityIcon {
	color: rgba(0, 0, 0, 0.5);
}

.labels {
	right: 2.5rem;
	color: #00000080;
}