@import "../../styles/variables.module.scss";

.navbarWrapper {
	padding: 0.5rem 1rem;
	position: sticky;
	top: 0;
	background-color: #ffffff;
	z-index: 100;
	// display: flex;
	border-bottom: 0.3px solid rgba(0, 0, 0, 0.3);
	transition: all 0.7s;
	// max-width: 1440px;
	// margin: 0 auto;
}

.navbarInnerWrapper {
	display: flex;
}

.navbarSubWrapper {
	display: flex;
	align-items: center;
	font-size: 17px
}

.logo {
	margin: 0;
}

.homeText {
	font-size: 18px;
	text-decoration: none;
	color: #000000;
}

.navItem {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	list-style: none;
}

.menuItem {
	height: 2.5rem;
	margin: 0 1rem;
	min-width: 140px;
}

.submenuBox {
	width: 200px;
	position: absolute;
	background-color: #ffffff;
	top: 2.2rem;
	padding: 1rem 1rem 0 1rem;
	border: 0.3px solid rgba(0, 0, 0, 0.5);
	border-top: 3px solid $secondary-color;
	border-radius: 0px 0px 4px 4px;
	opacity: 0;
	visibility: hidden;
	height: 0;
	transition: all 0.2s;
}

.subMenuText {
	padding-bottom: 1rem;
	text-decoration: none;
	color: #000000;
	cursor: pointer;
}

.arrowIcon {
	cursor: pointer;
	height: 22px;
	transition: all 0.5s;
}

.navItem {
	&:hover .submenuBox {
		opacity: 1;
		visibility: visible;
		height: auto;
		transition: all 0.2s;
	}

	&:hover p {
		cursor: pointer;
		color: $primary-color;
	}

	&:hover .arrowIcon {
		color: $primary-color;
		transform: rotate(180deg);
		transition: all 0.2s;
	}
}

.subMenuText:hover {
	color: $primary-color;
}

.navLeftDiv {
	margin-right: auto;
	align-items: center;
	position: relative;
}

.navLeftDivMO {
	position: absolute;
	left: 10px;
	// width: 100px;
}

.viewProfile {
	height: 46px;
	display: flex;
	align-items: center;
	padding: 0 0.75rem;
	margin-right: 1rem;
	cursor: pointer;

	p {
		padding: 0 0.5rem 0 0;
		font-size: 17px;
	}
}

.loginBtnsBox {
	display: flex;
	margin-right: auto;
}

.loginBtnBox,
.signupBtnBox {
	width: 126px;
	height: 46px;
}

.loginBtnBox {
	margin-left: 1rem;
}

.loginBtn,
.signupBtn {
	font-size: 18px;
	padding: 0;
}

.inqBtnBox {
	height: 38px;
	width: 219px;
	// margin: 0.5rem 0;
	// padding: 0 0.7rem;

	.serchQueryBtn {
		padding: 5px 12px;
		font-size: 15px;
		background-color: #F26722;
		border-color: #F26722;
		display: flex;
		display: -webkit-flex;
		align-items: center;
		-webkit-align-items: center;
	}
}

.navbarLeftDiv {
	display: flex;
	margin-right: auto;
}

.profileMenuWrapper {
	width: 220px;
	position: absolute;
	top: 50px;
	left: 10px;
	opacity: 0;
	visibility: hidden;
	height: 0;
	transition: all 0.2s;
	background-color: transparent;
	padding-top: 0.5rem;
}

.profileMenuWrapperMo {
	right: -133px;
}

.profileMenuSubWrapper {
	padding-bottom: 0.5rem;
	background-color: #ffffff;
	border: 1px solid #0000001a;
	border-radius: 4px;
}

.instructorBtnBox {
	width: 159px;
	height: 38px;

	button {
		font-size: 18px;
		padding: 12px 8px;
	}
}

.profileMenuItemsWrapper {
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: end;
}

.profileMenuItemsText {
	font-size: 16px;
	padding-right: 0.5rem;
}

.categoryName {
	width: 280px;
}

@media (max-width: 1280px) {
	.navbarSubWrapper {
		font-size: 15px;
	}

	.menuItem {
		margin: 0 0 0 0.7rem;
		min-width: 130px;
	}

	.submenuBox {
		width: 170px;
		padding: 0.5rem 0.5rem 0 0.5rem;
	}

	.subMenuText {
		padding-bottom: 0.5rem;
	}
}


@media (max-width: 1024px) {
	.mobileLogoBar {
		width: 100vw;
		height: 3rem;
		display: flex;
		justify-content: center;
		position: sticky;
		top: 0;
		background-color: #ffffff;
		border-bottom: 0.3px solid rgba(0, 0, 0, 0.3);
		z-index: 100;
		transition: all 0.7s;
	}

	.moNavHeader {
		text-align: center;
		padding: 0.75rem 0;
		border-bottom: 1px solid #0000001a;
	}

	.bellIconDiv {
		position: absolute;
		left: 15px;
		top: 11px;
	}

	.mobileMemuHead {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 60%;
		height: 20px;
		margin-right: -8px;
	}

	.menuBtn {
		position: absolute;
		top: 3px;
		font-size: 2rem !important;
		z-index: 100;
		right: 12px;
	}

	.slideBarBg {
		position: absolute;
		background-color: #0000007a;
		width: 100vw;
		height: 100vh;
		z-index: 99;
	}

	.inqBtnBox {
		width: 100%;

		.serchQueryBtn {
			height: 38px;
		}
	}

	.mobileNavItemList {
		font-size: 18px;
		display: block;
	}

	.settingDiv {
		border-width: 1px 0;
		border-style: solid;
		border-color: #0000001a;
	}

	.moLogOutText {
		color: #ff0000;
		border-top: 1px solid #0000001a;
		margin-top: 1rem;
		padding-top: 1rem;
	}

	.navbarSubWrapper {
		flex-direction: column;
		align-items: flex-start;
	}

	.mainMenuWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #0000001a;
	}

	.subMenuText {
		padding: 1rem 2rem;
		text-decoration: none;
		color: #000000;
		cursor: pointer;
		border-bottom: 1px solid #0000001a;
	}

	.loginBtnsBox {
		flex-direction: column-reverse;
		padding: 0 1rem;
		border-bottom: 1px solid #0000001a;
	}

	.loginBtnBox,
	.signupBtnBox {
		width: 100%;
		margin: 0 0 1rem;
	}
}