.genderBtnBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 22rem;
    height: 40px;
    margin: 1rem 0;
    border: 1px solid #0000001a;
    border-radius: 4px;
    overflow: hidden;

    button {
        border: none;
        background: #FFFFFF;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        span {
            margin-right: 5px;
        }
    }

    .maleBtn {
        border-left: 1px solid #0000001a;
    }
}

.genderActiveBtn {
    color: #F06A25 !important;
    background: #FFFFFF !important;
}