.commingSoonModalBox {
    width: 410px;
}

.modalTitleText {
    font-size: 20px;
    margin-bottom: 15px;
}

.modalParaText {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 19.5px;
}

.buttonModalDiv {
    height: 46px;
    width: 100%;
    margin: 0;
}

.lockIconWrapper {
    background-color: #F26722;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    position: relative;
    padding: 10px;
}

.closeIconWrapper {
    position: absolute;
    left: 15px;
    top: 15px;
}

.cancelBtn {
    font-size: 18px;
}

@media(max-width: 664px) {
    .commingSoonModalBox {
        width: 358px;
    }
}

@media (max-width :450px) {
    .commingSoonModalBox {
        width: 100%;
    }
}