.sectionHeader {
	margin-bottom: 1rem;
	font-size: 18px;
	line-height: 22px;
}


.paraText {
	font-size: 17px;
	line-height: 21.6px;
	margin-bottom: 15px;
}

.paraPoints {
	padding-right: 2px;
	font-size: 17px;
	line-height: 22px;
	margin: 0.5rem;
}

.buttonDiv {
	height: 46px;
	width: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.updateRetreat {
	font-size: 18px;
}

.updateDeleteBtn {
	width: 100%;
	height: 100%;
	font-size: 16px;
	line-height: 19px;
	color: #E5342F;
	background: rgba(229, 52, 47, 0.05);
	border-radius: 4px;
	border: none;
	outline: none;
	margin-right: 8px;
	cursor: pointer;
	font-family: 'Tajawal-Medium';
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #E5342F;

	&:disabled {
		background-color: #BFBFBF;
		border-color: #BFBFBF;
		cursor: not-allowed;
		color: white;
		font-size: 16px;
	}
}

.accountRecoveryBtnBox {
	width: 168px;
	height: 46px;

	button {
		font-size: 18px !important;
	}
}

.buttonModalDiv {
	width: 100%;
}

.modalTitleText {
	font-size: 23px;
	line-height: 28px;
	text-align: right;
	color: #000000;
	margin-bottom: 15px;
}

.accountRecoveryModalBtn {
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	height: 40px;
	color: #FFFFFF;
}


.modalParaText {
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 15px;
}


.cancelBtn {
	background: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	border: 0.7px solid #2D2E2D;
	border-radius: 2px;
	color: #2D2E2D;
	height: 40px;
	margin-right: 10px;
}

@media(max-width:640px) {
	.accountRecoveryBtnBox {
		width: 100%;
	}

	.buttonDiv {
		flex-direction: column;
		margin-top: 10px;
		width: 100%;
		height: auto;

		button {
			height: 46px;
			font-size: 16px;
		}

		.updateRetreat {
			margin-bottom: 10px;
		}

		.updateDeleteBtn {
			margin: 0;
		}
	}
}