@import "../../../styles/variables.module.scss";

.tableArea {
    width: 75%;
    border-collapse: collapse;
}

.tableHeaderArea {
    height: 48px;
    background-color: #F4F5F7;
    overflow: hidden;
    font-size: 20px;
    width: 100%;
    border-collapse: separate;
}

.tableBodyArea {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
}

.tableRow {
    td {
        font-size: 18px;
        text-align: center;
        border: 0.7px solid #c3c3c3;
        border-top: none;
    }
}

.requesterDetails {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.requesterName {
    margin-right: 3px;
}

.tableHead1 {
    width: 20%;
}

.tableHead2 {
    width: 20%;
}

.tableHead3 {
    width: 20%;
}

.tableHead4 {
    width: 20%;
}

.tableHead5 {
    width: 20%;
}

.progressbar {
    width: 187px;
    margin: 0 auto;
}

.StudentListImage {
    margin: 18px 14px;
}

.studentDetails {
    font-size: 16px;
    color: #2D2E2D;
    margin-left: 10px;
}

.examResultsForStudents {
    font-size: 18px;
    color: #000000;
}

.studentDetailsTable {
    display: flex;
    margin-top: 10px;
}

.studentTableArea {
    width: 65%;
    margin-top: 20px;
    border-collapse: collapse;
}

.studentTableRow {
    td {
        height: 61px;
        font-size: 18px;
        text-align: center;
        border: 0.7px solid #c3c3c3;
        border-top: none;
    }
}

.studentTableBodyArea {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
}

.studentTableHead1 {
    width: 33%;
}

.studentTableHead2 {
    width: 27%;
}

.studentTableHead3 {
    width: 40%;
}

.studentDetailsSave {
    cursor: pointer;
    width: 105px;
    height: 36px;
    font-size: 16px;
    color: white;
    background: #F26722;
    border: 1px solid #F26722;
    border-radius: 3px;
    margin-top: 24px;
    margin-left: 20px;
}