@import '../../styles/variables.module.scss';

.createCourseBtnBox {
    width: 110px;
    height: 36px;

    button {
        padding: 9px 16px !important;
        font-size: 16px;
    }
}

.tableArea {
    width: 100%;
    border-collapse: collapse;
}

.tableHeaderArea {
    height: 48px;
    background-color: #F4F5F7;
    overflow: hidden;
}

.tableHeadText {
    padding: 0 10px;
}

.tableHead1 {
    width: 41%;
}

.tableHead2 {
    width: 12%;
}

.tableHead3 {
    width: 12%;
}

.tableHead4 {
    width: 12%;
}

.tableHead5 {
    width: 15%;
}

.tableHead6 {
    width: 8%;
}

.tableBodyArea {
    font-size: 18px;
    width: 100%;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}

.noDataManiArea {
    height: 480px;
    display: grid;
    place-content: center;

}

.tableRow {
    td {
        height: 145px;
        text-align: center;
        border: 0.7px solid #c3c3c3;
        border-top: none;
    }
}

.courseInfoImage {
    margin: 18px 14px;
    border: 0.7px solid #636060;
    height: 109px;
    width: 190px;
    border-radius: 4px;
    position: relative;
    overflow: auto;
}

.skillCourseDetails {
    text-align: right;
    padding-top: 20px;

    p {
        padding: 5px 0 5px 0;
    }
}

.courseNameHeader {
    font-size: 20px;
}

.coursePrice {
    font-size: 12px;
}

.publishedCourseDetails {
    display: flex;
    align-items: center;
    justify-content: center;
}

.publishedName {
    margin-right: 3px;
}