@import "../variables.module.scss";

.headerWrapper {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.createCourseHeaderText {
    padding: 28px 0 24px 0;
}

.courseInfoText {
    font-size: 18px;
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
    display: inline-block;
    padding: 5px;
}

.bodyWrapper {
    background: #E5EAFC;
}

.bodysubWrapper {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 24px;
}

.imageUploadWrapper {
    border-color: black;
    width: 549px;
    height: 238px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadimagetext {
    font-size: 18px;
    color: #808080;
    margin-top: 8px;
}

.uploadImageHeader {
    font-size: 22px;
    color: #000000;
    margin-bottom: 14px;
    margin-top: 22px;
}

.detailDataWrapper {
    width: 247px;
    height: 47px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-right: 16px;
    margin-left: 12px;

    p {
        font-size: 20px;
    }
}

.IconWrapper {
    margin-left: 12px;
    width: 68px;
    height: 47px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 22px auto;
    overflow: hidden;
}

.dropDownArrowWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EFEFEF;
    border-left: 0.5px solid rgba(0, 0, 0, 0.5);
}


.bottomInputText {
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 21px;
}

.checkBox {
    height: 26px;
    width: 26px;
}

.saveCourseBtnBox {
    width: 138px;
    height: 38px;

    button {
        font-size: 20px;
        padding: 8px 12px;
    }
}

.navItems {
    font-size: 18px;
    display: flex;

    p {
        margin-left: 24px;
        cursor: pointer;
    }
}

.activeItem {
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
}