@import "../variables.module.scss";

.headerWrapper {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.createCourseHeaderText {
    padding: 28px 0 24px 0;
}

.courseInfoText {
    font-size: 18px;
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
    display: inline-block;
    padding: 5px;
}

.bodyWrapper {
    background: #E5EAFC;
}

.bodysubWrapper {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 24px;
}

.imageUploadWrapper {
    border-color: black;
    width: 549px;
    height: 238px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadimagetext {
    font-size: 18px;
    color: #808080;
    margin-top: 8px;
}

.hyperlink {
    display: flex;
}