.instructorName {
    font-size: 24px;
    padding: 2rem 1rem;
}

.dashboardItemWrapper {
    width: 319px;
    height: 178px;
    border: 0.5px solid #C8C8C8;
    border-radius: 4px;
    margin: 0 33px 33px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dashboardItemName {
    margin-top: 12px;
    font-size: 20px;
}