.backBtnBox {
    margin: 0 0 1rem 0;
    width: 13rem;
    height: 3rem;

    button {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0.5rem;

        .arrowIcon {
            height: 20px;
            width: 30px;
        }
    }
}