.courseTypesList {
    display: flex;
    justify-content: center;
}

.courseTypeWrapper {
    width: 319px;
    height: 178px;
    border: 0.5px solid #C8C8C8;
    border-radius: 4px;
    margin-left: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dashboardItemName {
    margin-top: 12px;
    font-size: 20px;
}

.categoryDetailsTable {
    display: flex;
    margin: 25px 0px -15px;
    align-items: center;
}