.closebutton {
    background: none;
    border: none;
    cursor: pointer;
}

.saveCourseBtnBox {
    width: 60px;
    height: 38px;

    button {
        font-size: 18px;
        padding: 8px 12px;
    }
}