.cardContainer {
  display: flex;
  gap: 20px;
  direction: ltr;
  flex-direction: column;
  margin-right: 0;
}

.graphWrapper {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.75rem;
  padding: 1rem;
  position: relative;
  min-width: 0;

  .linkWrapper {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
}

.graphContainerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 0;
}

.graphContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.cardWrapper {
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.pieChartLabels {
  display: inline-flex;
  flex-wrap: wrap;
}

.courseInfoImage {
  margin: 18px 14px;
  border: 0.7px solid #636060;
  height: 109px;
  width: 190px;
  border-radius: 4px;
  position: relative;
  overflow: auto;
}

.labelsWrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.75rem;
  height: auto;
}

@media (max-width: 1024px) {
  .graphContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .labelsWrapper {
    grid-template-columns: 1fr;
  }
}
