.couponHeadArea {
    display: flex;
    justify-content: space-between;
}

.createCourseBtnBox {
    width: 105px;
    height: 36px;

    button {
        padding: 9px 10px !important;
        font-size: 16px;
    }
}

.courseNames {
    width: 100%;
    max-width: 425px;
    padding: 15px;
    border: 0.5px solid #00000081;
    border-radius: 4px;
    min-height: 50px;
}

.couponHeadeArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.couponActionWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}