@import "../variables.module.scss";

.headerWrapper {
    display: flex;
    justify-content: space-between;
}

.createCourseHeaderText {
    padding: 28px 0 24px 0;
}

.createCourseBtnBox {
    width: 105px;
    height: 36px;
    margin-left: auto;

    button {
        padding: 9px 10px !important;
        font-size: 16px;
    }
}

.tableArea {
    width: 100%;
    border-collapse: collapse;
}

.tableHeaderArea {
    height: 48px;
    background-color: #F4F5F7;
    overflow: hidden;
    font-size: 20px;
    width: 100%;
}

.tableHeadText {
    padding: 0 10px;
    border: 0.7px solid #c3c3c3;
}

.tableHead1 {
    width: 41%;
}

.tableHead2 {
    width: 13%;
}

.tableHead3 {
    width: 13%;
}

.tableHead4 {
    width: 13%;
}

.tableHead5 {
    width: 10%;
}

.tableBodyArea {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
}

.tableRow {
    td {
        height: 141px;
        text-align: center;
        border: 0.7px solid #c3c3c3;
        border-top: none;
    }
}

.courseInfoImage {
    margin: 18px 14px;
    border: 0.7px solid #636060;
    height: 109px;
    width: 190px;
    border-radius: 4px;
    position: relative;
    overflow: auto;
}

.skillCourseDetails {
    text-align: right;
    display: grid;
    place-content: center;

    p {
        font-size: 20px;
    }
}

.courseNameHeader {
    font-size: 20px;
}

.actions {
    padding: 0px 38px;
}

.publishState {
    display: flex;
    justify-content: center;
}

.categoryDetailsTable {
    display: flex;
    margin: 25px 0px -15px;
    align-items: center;
}

.displayAdminText {
    font-size: 18px;
    color: #2d2e2d80;
    padding: 3px 5px;
}

.categoryDetailsName {
    font-size: 18px;
    margin-right: 5px;
    color: #2d2e2d80;
}