@import "../../../styles/variables.module.scss";


.modalHeader {
    display: flex;
    padding: 8px 18px;
    align-items: center;
    justify-content: space-between;
}

.closebutton {
    background: none;
    border: none;
}

.createappointment {
    font-size: 18px;
}

.createAppointmentFields {
    padding: 14px 18px 0px 0px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
}

.AppointmentFieldBorderBottom {
    display: flex;
    padding: 3px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
    padding: 4px 9px 7px 0;
}

.AddFolderBtn {
    width: 78px;
    height: 37px;
    font-size: 16px;
    color: white;
    background: #F26722;
    border: 1px solid #F26722;
    border-radius: 3px;
    margin: 7px;
}

.deleteVideoBtn {
    margin: 7px;
    width: 110px;
    height: 37px;
}

.uploadVideoWrapper {
    font-size: 16px;
    display: flex;
    width: 352px;
    border-radius: 4px;
    flex-direction: row;
    justify-content: center;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
}

.IconWrapper {
    margin-left: auto;
    width: 114px;
    height: 40px;
    border-left: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px 4px 4px 0px;
    display: flex;
    align-items: center;
}

.deleteItemsModalHeader {
    padding: 8px 18px;
    align-items: center;
}

.deleteItemsText {
    font-size: 23px;
}

.deleteVideoText {
    padding: 8px 15px;
    font-size: 16px;
}

.uploadFileWrapper {
    padding: 16px 8px 10px;
}

.videoFolderName {
    margin-left: 145px;
    padding: 7px;
}