@import "../../../styles/variables.module.scss";



@media (max-width: 640px) {
	.myCourseContentMainWrapper {
		display: flex;
		flex-direction: column-reverse;
		padding: 1rem;
	}

	.boxBorder {
		border: none;
		border-radius: 0;
	}

	.myCourseInstructorWrapper {
		padding: 0;
	}

	.myCourseStudentProgressWrapperHeader {
		padding-top: 1rem;
	}

	.myCourseStudentProgressWrapper {
		padding: 0;
		height: 263px;
	}

	.myCourseStudentProgressSubWrapper {
		flex-direction: row;
	}

	.itemProcessWrapper {
		display: block;
	}

	.myCourseInstructorSubWrapper {
		display: block;
	}
}