@import "../../styles/variables.module.scss";

.footerWrapper {
	border-top: 0.5px solid rgba(0, 0, 0, 0.25)
}

.footerSubWrapper {
	display: grid;
	font-size: 20px;

	h3 {
		font-family: 'Tajawal-Bold';
		font-size: 22px;
		line-height: 37px;
	}
}

.footerMainBox {
	display: grid;
	grid-template-columns: auto 15rem 16rem 17.5rem;
	grid-template-rows: 18rem auto;
	padding: 1rem 1rem 0 1rem;
}

.section1 {
	grid-area: 1/1/2/2;
}

.section2 {
	grid-area: 2/1/3/2;
}

.footerSubText {
	margin: 2rem 0 1rem 0;
	width: 23rem;
}

.footerMainSections {
	display: flex;
	justify-content: space-between;
}

.section {
	ul {
		list-style-type: none;

		li {
			margin: 0.5rem 0;
			display: flex;
			align-items: center;

			p {
				margin: 0 0.5rem;
			}

			&:hover {
				color: $primary-color;
			}
		}
	}
}

.socialMediaIconWraper {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
}

.youtubeWrapper,
.twitterWrapper,
.instaWrapper,
.tiktokWrapper {
	margin: 0 0 0 1rem;
}

.regiDetailsBox1,
.regiDetailsBox2 {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	width: fit-content;
	text-decoration: none;
	color: #000000;
}

.regiDetailsBox1 {
	&:hover {
		color: $primary-color;
	}
}

.regiDetailsTextBox {
	padding: 0 0.5rem;

	p {
		margin: 0.3rem 0;
		font-size: 16px
	}

	;
}

.footerBottom {
	border-top: 0.5px solid rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 55px;
	position: relative;

	p {
		color: #00000080;
		text-align: center;
		padding: 0.6rem 0;
	}
}

.bankLogoDiv {
	position: absolute;
	left: 0;
	top: 7px;
}

.locationIcon {
	font-size: 2.55rem !important;
}

.appLogoWrapper {
	display: flex;
	align-items: center;
	padding: 0.1rem 0.5rem;
	border: 1px solid #000000;
	border-radius: 5px;
	width: 127px;
	height: 42px;
	margin-left: 1rem;
}

.subHeadding {
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}

.storeNameText {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}


@media (max-width: 1280px) {
	.footerSubWrapper {
		li {
			font-size: 16px;
		}
	}

	.footerSubText {
		font-size: 16px;
	}

	.footerMainBox {
		grid-template-columns: auto 14rem 15rem 16.5rem;
	}
}

@media (max-width: 1180px) {
	.footerMainBox {
		grid-template-columns: auto 20rem 16rem;
		grid-template-rows: 15rem auto;
	}

	.section5 {
		grid-area: 2/2/3/3;
	}

	.footerSubText {
		margin: 1rem 0 0.5rem 0;
	}

	.socialMediaIconWraper {
		margin-top: 1rem;
	}
}

@media (max-width: 1100px) {
	.footerMainBox {
		grid-template-columns: auto 17.5rem 15.5rem;
	}

	.footerBottom {
		p {
			font-size: 16px;
		}
	}
}

@media (max-width: 1024px) {
	.footerMainBox {
		grid-template-columns: auto 15.5rem 13rem;
	}

	.footerMainSections {
		padding: 0 1.5rem 2rem 1.5rem;
	}

	.footerSubWrapper {
		h3 {
			font-size: 20px;
		}
	}

	.bankLogoDiv {
		top: -2rem;
		left: 1rem;
	}

	.footerBottom {
		height: 40px;
	}
}

@media (max-width: 930px) {
	.footerMainBox {
		grid-template-columns: auto 19rem;
		grid-template-rows: 15rem 9.5rem auto;
	}

	.section5 {
		grid-area: 3/1/4/2;
		padding-bottom: 1rem;
	}
}

@media (max-width: 800px) {
	.footerMainBox {
		grid-template-columns: auto 15rem;
	}
}

@media (max-width: 720px) {
	.footerMainBox {
		grid-template-columns: auto 12rem;
	}
}

@media (max-width: 640px) {
	.footerMainBox {
		grid-template-columns: auto;
		grid-template-rows: 13rem 6.5rem 11.5rem 5.2rem auto;
	}

	.section5 {
		grid-area: 2/1/3/2;
	}

	.section2 {
		grid-area: 5/1/6/2;
	}

	.footerMainSections {
		flex-direction: column;
		padding: 0;
	}

	.section {
		margin: 0.5rem 0;
	}

	.footerSubWrapper {
		li {
			font-size: 15px;
		}

		h3 {
			font-size: 18px;
			line-height: 20px;
		}
	}

	.footerSubText {
		font-size: 15px;
	}

	.footerBottom {
		height: 120px;

		p {
			padding: 0.7rem 0.5rem;
		}
	}

	.bankLogoDiv {
		top: 3.7rem;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.contactSections {
		ul {
			display: flex;
			justify-content: space-between;
		}
	}
}