@import "../../../styles/variables.module.scss";

.createCourseBtnBox {
    width: 105px;
    height: 36px;

    button {
        padding: 9px 16px !important;
        font-size: 16px;
    }
}

.tableArea {
    width: 100%;
    border-collapse: collapse;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
}

.tableHeaderArea {
    height: 48px;
    background-color: #000000;
    color: #ffffff;
    overflow: hidden;
    font-size: 20px;
    width: 100%;
}

.tableHeadText {
    padding: 0 10px;
    height: 48px;
    text-align: center;
}

.tableHead1 {
    width: 20%;
}

.tableHead2 {
    width: 18%;
}

.tableHead3 {
    width: 13%;
}

.tableHead4 {
    width: 13%;
}

.tableHead5 {
    width: 13%;
}

.tableHead6 {
    width: 8%;
}

.tableBodyArea {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
}

.PeriodDataDetails {
    text-align: right;
    align-items: center;
    justify-content: right;
    padding: 0 12px 0 0;

    p {
        padding: 4px 0 3px 0;
    }
}

.genderDetails {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    // border: 0.2px solid rgba(137, 135, 135, 0.2);
    border-radius: 2px;
    height: 25px;
    padding: 0 5px;
}

.personeDetails {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableRow {
    td {
        height: 169px;
        text-align: center;
        border: 0.7px solid #c3c3c3;
        border-top: none;
    }
}

.noDataManiArea {
    height: 480px;
    display: grid;
    place-content: center;
}

.modalHeader {
    display: flex;
    padding: 8px 18px;
    align-items: center;
    justify-content: space-between;
}

.closebutton {
    background: none;
    border: none;
    cursor: pointer;
}

.createappointment {
    font-size: 18px;
}

.createappointmentFormFileds {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}

.createAppointmentFields {
    padding: 12px 16px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

.borderline {
    margin-top: 5px;
    width: 380px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
}

.recordedcourse {
    font-size: 16px;
    margin-right: 7px;
}

.saveBtnBox {
    padding: 16px;
}

.createAppointmentBtnBox {
    width: 120px;
    height: 40px;
    margin-bottom: 20px;

    button {
        font-size: 16px;

    }
}

.outerCircle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.innerCircle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.green {
    background-color: #2F9B5B4D;

    .innerCircle {
        background-color: #007D33;
    }
}

.alretWrapper {
    height: 17px;
    width: 17px;
    position: relative;
}