@import "../../../styles/variables.module.scss";

.createCourseBtnBox {
    width: 105px;
    height: 36px;

    button {
        padding: 9px 16px !important;
        font-size: 16px;
    }
}

.tableArea {
    width: 100%;
    border-collapse: collapse;
}

.tableHeaderArea {
    height: 48px;
    background-color: #F4F5F7;
    overflow: hidden;
}

.tableHeadText {
    padding: 0 10px;
}

.appointTableHead1 {
    width: 13%;
}

.tableHead2 {
    width: 12%;
}

.tableHead3 {
    width: 12%;
}

.tableHead4 {
    width: 12%;
}

.tableHead5 {
    width: 12%;
}

.tableHead6 {
    width: 8%;
}

.tableBodyArea {
    width: 100%;
    border-width: 0px 0.7px 0.7px 0.7px;
    border-style: solid;
    border-color: #C3C3C3;
    border-radius: 0px 0px 4px 4px;
}

.noDataManiArea {
    height: 480px;
    display: grid;
    place-content: center;
}

.borderline {
    border-top: 0.5px solid rgba(0, 0, 0, 0.3);
}

.modalHeader {
    display: flex;
    padding: 8px 18px;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
}

.createappointment {
    width: 92px;
    font-size: 18px;
}

.createappointmentfields {
    padding: 12px 18px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

.construction {
    width: 78px;
    height: 37px;
    font-size: 16px;
    color: white;
    background: #F26722;
    border: 1px solid #F26722;
    border-radius: 3px;
    margin: 8px 18px;
}


.recordedcourse {
    font-size: 16px;
    margin-right: 7px;
}