.addSectionArea {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.curriculimSectionHead {
    width: 60%;
    height: 60px;
    background-color: #F4F5F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 3px;
    margin: 20px 0 0 0;
    transition: all 0.5s;
    position: relative;
    border: 0.5px solid #00000022;
    border-bottom: none;
}

.showCurriculumSectionHead {
    border-radius: 3px 3px 0px 0px;
}

.curriculimHeadText {
    display: flex;
    // color: #FFFFFF;
    align-items: center;
    margin-right: 30px;
}

.sectionTitle {
    font-size: 20px;

    .duration {
        font-size: 14px;
        color: #2d2e2d80;
        padding: 0;
    }
}

.numberOfItems {
    font-size: 14px;
    padding: 5px;
}

.sectionName {
    font-size: 24px;
    font-weight: 700;
}

.addSections {
    cursor: pointer;
    font-size: 20px;
    color: #F26722
}

.arrowIcon {
    cursor: pointer;
    height: 22px;
    transition: all 0.5s;
}

.headerActionWrapper {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 10px;
    z-index: 100;

    div {
        cursor: pointer;
    }
}

.curriculumSectionBody {
    width: 60%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    border: 1px solid #B8B8B8;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.tab:checked {
    .curriculimSectionHead {
        border-radius: 3px 3px 0px 0px;
    }
}

.showCurriculumSectionBody {
    max-height: 100vh;
}

.curriculumData {
    padding: 20px;
}


.addItemsArea {
    border: 1px solid #B8B8B8;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
}

.addItems {
    font-size: 20px;
    color: #F26722;
    display: grid;
    place-content: center;
    padding: 15px;
    border: 2px solid #F26722;
    cursor: pointer;
}


.tableBodyArea {
    height: 235px;
    width: 735px;
    border: 1px solid #00000015;
    border-radius: 4px;
    margin-bottom: 30px;
}

.noDataMainArea {
    padding-top: 25px;
    display: grid;
    place-content: center;
}

.createCourseBtnBox {
    width: 107px;
    height: 36px;

    button {
        padding: 9px 10px !important;
        font-size: 16px;
    }
}

.updownSectionIcon {
    padding: 5px;
    height: 30px;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 100;

    &:hover {
        background-color: #FFFFFF;
    }

    &:hover svg path {
        fill: #000000;
    }
}