.addSectionArea {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.curriculimSectionHead {
    width: 60%;
    height: 60px;
    background-color: #2D2E2D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 3px;
    margin: 20px 0 0 0;
    transition: all 0.5s;
}

.showCurriculumSectionHead {
    border-radius: 3px 3px 0px 0px;
}

.curriculimHeadText {
    display: flex;
    color: #FFFFFF;
    padding-top: 10px;
}

.sectionTitle {
    font-size: 20px;
    margin-right: 8px;

    .duration {
        font-size: 14px;
        color: #2d2e2d80;
        padding: 0;
    }
}

.numberOfItems {
    font-size: 14px;
    padding: 5px;
}

.sectionName {
    font-size: 24px;
    font-weight: 700;
}

.addSections {
    font-size: 20px;
    color: #F26722
}

.arrowIcon {
    cursor: pointer;
    height: 22px;
    transition: all 0.5s;
}

.headerActionWrapper {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.curriculumSectionBody {
    width: 60%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    border: 1px solid #B8B8B8;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
    margin-bottom: 20px;
    transition: all 0.5s
}

.tab:checked {
    .curriculimSectionHead {
        border-radius: 3px 3px 0px 0px;
    }
}

.showCurriculumSectionBody {
    max-height: 100vh;
}

.curriculumData {
    padding: 20px;
}


.addItemsArea {
    border: 1px solid #B8B8B8;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
}

.addItems {
    font-size: 20px;
    color: #F26722;
    display: grid;
    place-content: center;
    padding: 15px;
    border: 2px dashed #F26722;
}


.curriculumDataArea {
    display: flex;
    padding: 13px;
    justify-content: space-between;
    border-bottom: 1px solid #B8B8B8;
    background-color: #FFFFFF;
}

.curriculumDataArea:last-child {
    border-bottom: none;
}

.curriculimDetailsData {
    width: 22;
    display: flex;
    justify-content: space-around;
}

.curriculimDetailsActions {
    align-items: center;
    width: 18%;
    display: flex;
    justify-content: space-around;
}