.modalBox {
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: translate(-50%, -50%);
    width: 358px;
}

.modalTitleText {
    font-size: 23px;
    margin-bottom: 10px;
}

.modalParaText {
    font-size: 16px;
    margin-bottom: 15px;
}

.buttonModalDiv {
    height: 46px;
    display: contents;
}

.accountRecoveryModalBtn {
    font-size: 16px;
}

.cancelBtn {
    font-size: 16px;
}