.modalBox {
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: translate(-50%, -50%);
    width: 358px;
}

.modalTitleText {
    font-size: 20px;
    margin-bottom: 5px;
}

.modalParaText {
    font-size: 16px;
    margin-bottom: 16px;
}

.buttonModalDiv {
    display: contents;

    button {
        height: 46px;
    }
}

.accountRecoveryModalBtn {
    font-size: 16px;
}

.cancelBtn {
    font-size: 16px;
}