.verticalTabsContainer {
	display: grid;
	grid-template-columns: 318px auto;
	height: 671px;
	width: 830px;
	padding: 5rem 1rem 0 1rem;
	margin: 0 auto;
}

.tabsList {
	display: flex;
	flex-direction: column;
	border: 1px solid #0000001a;
	border-radius: 0px 6px 6px 0px;
	overflow: hidden;
}

.tab {
	display: flex;
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #0000001a;
	border-right: 8px solid transparent;
	height: 79px;
	position: relative;
}

.tab.active {
	border-right: 8px solid #F26722;
}

.tabDiv {
	display: flex;
	align-items: center;
	display: -webkit-flex;
	-webkit-align-items: center;
}

.smallScreenTabTitleDiv {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
}

.tabTitle {
	// margin-top: 3px;
	font-size: 18px;
}

.passwordVisibilityIcon {
	color: rgba(0, 0, 0, 0.5);
}

.tabContent {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: auto;
	border-width: 1px 0px 1px 1px;
	border-style: solid;
	border-color: #0000001a;
	border-radius: 6px 0px 0px 6px;
}

.subContentDiv {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	cursor: pointer;
}


.subContentValueDiv {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}


.existingDetailText {
	margin-top: 1rem;
	color: var(--Black_Used, #191919);
	font-size: 16px;
}

.IconDiv {
	margin: auto 0;
	position: absolute;
	top: 0.6rem;
	right: 0.5rem;
}

.passwordInputBox label {
	right: 2.5rem;
}


.passwordInputBox input {
	padding-right: 2.5rem;
	font-size: 16px;
	border: 1px solid #0000001a;
}

.disable {
	position: absolute;
	height: 100%;
	width: calc(100% + 14px);
	background-color: #0000004f;
	top: 0;
	left: 0;
	z-index: 10;
	cursor: not-allowed;
}

.disableFormInput {
	background-color: #0000004f !important;
	cursor: not-allowed;
}

.submitBtnBox {
	width: 100%;
	height: 2.75rem;

	button {
		font-size: 18px;
		font-weight: 500;
	}
}

.formInputIconDiv {
	margin: auto 0;
	position: absolute;
	display: grid;
	right: 1rem;
}

.formInputText {
	width: 100%;
	padding-right: 2.9rem;
	border: 1px solid #0000001a;
}

.formInputLabel {
	padding-right: 2rem;
	font-size: 16px;
	color: #00000080;
	top: 0.9rem
}


.formInputError {
	width: 100%;
	height: 2.75rem;
	padding-right: 2.9rem;
	border: 1px solid red;
}

.formInputPlaceHolderError {
	padding-right: 2rem;
	font-size: 16px;
	color: red;
	top: 0.9rem
}

.passwordIconDiv {
	margin: auto 0;
	position: absolute;
	top: 0.8rem;
	left: 0.5rem;
	margin: auto 0.5rem;
	cursor: pointer;
}

.formInputLable {
	color: #00000080;
}

.errorText {
	color: var(--Red, #E5342F);
	font-size: 0.75rem;
	line-height: 1.66;
	letter-spacing: 0.03333em;
	margin-top: -0.5rem;
	margin-bottom: 1.1rem;
	width: 358px;
}


.cancelBtn {
	background: var(--White_Used, #FFF);
	color: var(--Black_Used, #191919);
	text-align: center;
	font-size: 16px;
	width: 100%;
	height: 2.63rem;
	padding: 12px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 18px;
	cursor: pointer;
}


@media (max-width: 830px) {
	.verticalTabsContainer {
		width: 100%;
		padding: 2rem 1rem 0 1rem;
		margin: 0 auto;
		grid-template-columns: 250px auto;
	}
}

@media (max-width: 640px) {
	.verticalTabsContainer {
		padding: 28px 0 0 0;
		display: block;
	}

	.tabTitleDiv {
		display: flex;
		align-items: center;
	}

	.tabsList {
		border: 0;
		border-radius: 0;
	}

	.tabContent {
		border-width: 0;
		padding: 0 1rem;
	}

	.tab {
		border-bottom: 0px solid #0000001a;
		border-right: 0px solid transparent;
	}

	.tab.active {
		border-right: 0px solid #F26722;
	}
}

@media(max-width:390px) {
	.submitBtnBox {
		width: 100%;
	}
}