.creditCardWrapper{
	margin: 2rem;
	padding: 1rem;
	width: 35rem;
	border-width: 1px 1px 0px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.inputBox{
	height: 2rem;
	width: 30rem;
	border: 1px solid #000000;
	outline: none;
	border-radius: 4px;
	padding: 1rem;
}