.mainArea {
	padding: 2rem;
}

.tagline {
	font-size: 23px;
}

.mainLoadingPage {
	height: calc(100vh - 265px);
}

.rightSide {
	right: 0rem;
	direction: ltr;
}

.leftSide {
	height: 100%;
}

.pointList {
	list-style: disc;
	padding: 0 1rem;
	font-size: 20px;
	margin-bottom: 2rem;
}

.coursesWrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    width: 100%;
}

.courseCardMetaDataWrapper {
	margin: 0.5rem;
}

.typeOfCourseCardWrapper {
	width: 406px;
	height: 100%;
	border: 0.3px solid rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	overflow: hidden;
	display: grid;
	grid-template-rows: 223px auto;
	position: relative;

}

.notAllowedWrapper {
	position: absolute;
	background-color: #ffffff7a;
	z-index: 99;
	width: 100%;
	height: 100%;
}

.notAllowedIconWrapper {
	position: absolute;
	background-image: url("../public/images/notAllowd.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: 100;
	cursor: not-allowed;
}

.detailsBox {
	display: table;
	border-collapse: collapse;
	position: sticky;
	bottom: 0;

	li {
		display: flex;
		align-items: center;
		padding: 0.5rem 0.7rem;
	}
}

.coverImage {
	width: 100%;
}

.courseDetailText {
	font-family: 'Tajawal-Medium';
	font-size: 18px;
	padding: 0.7rem;
}

.descriptionList {
	font-size: 18px;
}

.listItemIcon {
	font-size: 32px;
}

.listItemText {
	font-family: 'Tajawal-Medium';
	font-size: 16px;
	padding: 0 0 0 0.5rem;
}

.grayText {
	font-size: 16px;
	color: #0000007a;
}

.priceBoxMainArea {
	width: 100%;
}

.priceBoxWrapper {
	display: table-row;
	height: 20px;
	font-size: 18px;

	.onePersonDetailText {
		font-size: 16px;
	}
}

.separateLine {
	margin-top: auto;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.hidePriceBox {
	display: flex;
	background-color: #61b92235;
	height: 41px;
	margin: 12px;
	align-items: center;
	place-content: center;
	border-radius: 4px;

	.detailText {
		font-size: 16px;
		color: #3B9100;
	}

	.arrowIcon {
		color: #3B9100;
		font-size: 20px;
	}
}

.onePersonPriceBox,
.specialPriceBox,
.twoPersonPriceBox,
.threePersonPriceBox {
	padding: 1rem 0.7rem 0 0.7rem;
	display: flex;
	justify-content: space-between;
}

.onePersonPriceBox {
	.detailText {
		font-size: 20px;
	}

	.price {
		font-size: 22px;
	}
}

.twoPersonPriceBox,
.threePersonPriceBox {
	.detailText {
		font-size: 19px;
	}

	.price {
		font-size: 18px;
	}

	.eachPersonDetailText {
		font-size: 15px;
		color: #00000065;
	}
}

.specialPriceBox {
	.detailText {
		font-size: 16px;
	}

	.seemoreText {
		font-size: 14px;
		color: #00A3FF;
		text-decoration: underline;
	}

	.arrowIcon {
		color: #00A3FF;
		font-size: 20px;
	}
}

.rotateArrow {
	height: 16px;
	transform: rotate(180deg);
}

.btnBox {
	margin: 1rem 0.7rem;
	height: 41px;

	button {
		font-size: 22px;
	}
}


.dialogDisText {
	font-size: 18px;
}

.submitBtnBox,
.cancleBtnBox {
	height: 45px;
	margin: 0 0 0 15px;

	button {
		font-size: 16px;
	}
}

.percentageBox {
	background-color: #CD0000;
	color: #ffffff;
	padding: 7px;
	margin-right: 1rem;
	border-radius: 3px;
}

.MainDisHead {
	font-size: 20px;
}

.oldPrice {
	font-size: 16px;
	color: #00000080;
	text-decoration: line-through;
}

@media (max-width: 1380px) {
	.courseCardMetaDataWrapper {
		width: 32.5%;
		margin: 0.5rem 0;
	}

	.typeOfCourseCardWrapper {
		width: 100%;
	}
}

@media (max-width: 1280px) {

	.tagline {
		font-size: 20px;
	}

	.pointList {
		font-size: 18px;
	}

	.courseDetailText {
		font-size: 16px;
	}

	.onePersonPriceBox {
		.detailText {
			font-size: 18px;
		}

		.price {
			font-size: 20px;
		}
	}

	.twoPersonPriceBox,
	.threePersonPriceBox {
		.detailText {
			font-size: 14px;
		}

		.price {
			font-size: 16px;
		}
	}

	.specialPriceBox {
		.detailText {
			font-size: 14px;
		}

		.seemoreText {
			font-size: 14px;
		}

		.arrowIcon {
			font-size: 18px;
		}
	}

	.listItemText {
		font-size: 14px;
		padding: 0 0 0 0.3rem;
	}

	.btnBox {
		button {
			font-size: 20px;
		}
	}
}



@media (max-width: 1024px) {
	.courseCardMetaDataWrapper {
		width: 360px;
		margin: 0.5rem;
	}

	.typeOfCourseCardWrapper {
		width: 360px;
	}

	.onePersonPriceBox {
		.detailText {
			font-size: 16px;
		}

		.price {
			font-size: 18px;
		}
	}

	.btnBox {
		button {
			font-size: 18px;
		}
	}

	.descriptionList {
		font-size: 16px;
	}
}

@media (max-width: 816px) {
	.coursesWrapper {
		align-items: center;
	}
}

@media (max-width: 768px) {
	.tagline {
		font-size: 18px;
	}

	.pointList {
		font-size: 16px;
	}
}

@media (max-width: 640px) {
	.mainArea {
		padding: 1rem;
	}

	.courseDetailText,
	.descriptionList,
	.listItemText {
		font-size: 15px;
	}

	.detailsBox {
		padding: 0 0.3rem 0.5rem 0.3rem;

		li {
			padding: 0.3rem;
		}
	}

	.btnBox {
		button {
			font-size: 16px;
		}
	}
}