.mainPage {
    width: 100vw;
    margin-top: 10rem;
    height: 22rem;
}

.forgotFormDiv {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 453px;
}

.pageHeader {
    font-size: 23px;
    text-align: center;
    font-weight: 500;
}

.forgotPasswordPara {
    font-size: 18px;
    color: #00000080;
    padding: 14px 0 8px 0;
}

.formInput {
    width: 100%;
    width: 100%;
    padding-right: 3rem;
    border: 1px solid #0000001a;
}

.formLabel {
    color: #00000080;
    padding-right: 2rem;
    top: 1.1rem
}

.errorText {
    color: #ff0000;
    margin-top: -0.6rem;
    font-size: 12px;
}

.inputError {
    border: 1px solid red;
}

.inputPlaceHoldererror {
    color: red;
}

.loginBtnBox {
    margin-top: 20px;
    height: 48px;

    span {
        font-size: 18px;
    }
}

@media(max-width :454px) {

    .pageHeader {
        text-align: right;
    }

    .mainPage {
        width: 100vw;
        margin-top: 2.125rem;
        height: auto
    }

    .forgotFormDiv {
        position: static;
        padding: 1rem 1rem 34px 1rem;
        transform: none;
        width: 100%
    }
}