.mainPage {
    width: 100vw;
    margin-top: 10rem;
    height: calc(100vh - 850px);
}

.forgotFormDiv {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 453px;
}

.pageHeader {
    text-align: center;
    font-size: 24px;
}

.forgotPasswordPara {
    font-size: 18px;
    color: #00000080;
    padding: 14px 0 8px 0;
}

.formInput {
    width: 100%;
    padding-right: 2.2rem;
    border: 1px solid #0000001a;
}

.formLabel {
    color: #00000080;
    padding-right: 1.5rem;
    top: 1.1rem
}

.errorText {
    color: #ff0000;
    margin-top: 1rem;
}

.inputError {
    width: 100%;
    padding-right: 2.2rem;
    border: 1px solid red;
}

.inputPlaceHoldererror {
    padding-right: 1.5rem;
    font-size: 16px;
    color: red;
    top: 1.2rem
}

.loginBtnBox {
    margin-top: 20px;
    height: 48px;

    span {
        font-size: 18px;
    }
}

@media(max-width :454px) {

    .pageHeader {
        text-align: right;
        font-size: 24px;
    }

    .forgotFormDiv {
        position: absolute;
        padding: 1rem;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%
    }
}