.mainPage{
    width: 100vw;
    height: calc(100vh - 58px);
}
.forgotFormDiv{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 453px;
}
.pageHeader{
    text-align: center;
    font-size: 24px;
}
.forgotPasswordPara{
    font-size: 18px;
    color: #00000080;
    padding: 14px 0 8px 0;
}
.formInput{
    width: 100%;
    padding-right:2.2rem ;
    border: 1px solid #0000001a ;
}
.formLabel{
    color: #00000080;
    padding-right:1.5rem ;
}
.errorText{
    color: #ff0000;
    margin: -0.8rem 0 1rem 0;
}