.modalHeader {
    display: flex;
    padding: 8px 18px;
    align-items: center;
    justify-content: space-between;
}

.closebutton {
    background: none;
    border: none;
}

.addNews {
    font-size: 18px;
}

.createNewsFields {
    padding: 14px 18px 0px 0px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
}

.newsFieldBorderBottom {
    direction: rtl;
    display: flex;
    padding: 3px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
    padding: 4px 9px 7px 0;
}

.AddFolderBtn {
    width: 78px;
    height: 37px;
    font-size: 16px;
    color: white;
    background: #F26722;
    border: 1px solid #F26722;
    border-radius: 3px;
    margin: 7px;
}