.modalHeader {
    display: flex;
    padding: 8px 18px;
    align-items: center;
    justify-content: space-between;
}

.closebutton {
    background: none;
    border: none;
    cursor: pointer;
}

.appVersionHeadText {
    font-size: 18px;
}

.appleVersionText {
    font-size: 20px;
    padding-right: 5px;
}

.addVersion {
    font-size: 16px;
    margin-bottom: 3px;
}

.createAppVersionFields {
    padding: 14px 18px 0px 0px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
}

.AppVersionBorderBottom {
    direction: rtl;
    display: flex;
    padding: 3px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
    padding: 4px 9px 7px 0;
}

.createAppointmentBtnBox {
    height: 35px;
    margin: 8px;

    button {
        font-size: 16px;
    }
}

.checkBoxHead {
    display: flex;
    width: fit-content;
    margin-bottom: 15px;
    align-items: center;
}