.modalHeader {
    display: flex;
    padding: 8px 18px;
    align-items: center;
    justify-content: space-between;
}

.closebutton {
    background: none;
    border: none;
    cursor: pointer;
}

.addCategory {
    font-size: 18px;
}